<div class="container">
  <h1>Leaderboard</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Wins</th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.number_of_wins %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to "New Game", init_path, method: :get, class: "button" %>
</div>